.lead {
    display: flex;
    flex-direction: column;
    margin: 0 148px 0;
    padding-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding: 48px 0 0;
        margin: 0 48px 0;
    }

}

@media screen and (max-width: 768px) {
    .lead {
        margin: 0;
    }
}