.header {
    padding-top: 28px;
    margin: 0px 48px 0;
    display: flex;
    align-items: flex-end;
  }

  @media screen and (max-width: 768px) {
    .header {
      padding-top: 28px;
      margin: 0 24px 0;
    }
  }

  @media screen and (max-width: 425px) {
    .header {
      padding-top: 16px;
      margin: 0px 16px 0;
    }
  }