.footer__links{
    margin: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-inline-start: 0px;
  }

  @media screen and (max-width: 425px) {
    .footer__links{
      flex-direction: column;
    }
}