.place__paragraph {
  align-self: start;
  font-family: "Inter", "Arial ", sans-serif;
  margin: 0;
  padding-top: 26px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:nth-child(odd) {
  padding-top: 0px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    padding-top: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 490px) {
  .place__paragraph {
    margin: 0 16px 0;
  }
}