.footer__copyright {
    margin: 0 0 0 auto;
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: right;
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        margin: 0 auto 0 0;
        line-height: 14px;
    }
}