.cover__overlay {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    background-size: cover;
    background-position: center;
    background-image: url(./image/__background.jpg);
    text-decoration: none;
}


.cover__overlay::before {
    content: '';
    background-color: #35373a;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}


@media screen and (max-width: 1024px) {


    .cover__overlay {
        min-height: 640px;
    }
}



@media screen and (max-width: 768px) {

    .cover__overlay {
        min-height: 480px;
    }
}


@media screen and (max-width: 425px) {
    .cover__overlay {
        min-height: 250px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}