.place {
  padding-bottom: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}


@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    column-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    column-gap: 8px;
  }
}

@media screen and (max-width: 490px) {
  .place {
    padding-bottom: 66px;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}