.place__url-heading {
  font-family: "Inter", "Arial ", sans-serif;
  margin-bottom: 12px;
  max-width: 456px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #AAAAAA;
}